﻿@model CuaHangGiaDung.Models.SanPham
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Add Product";
}

<h2>Add Product</h2>

<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="TenSP"></label>
        <input asp-for="TenSP" class="form-control" />
        <span asp-validation-for="TenSP" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GiaBan"></label>
        <input asp-for="GiaBan" class="form-control" />
        <span asp-validation-for="GiaBan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MoTa"></label>
        <textarea asp-for="MoTa" class="form-control"></textarea>
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaLoai">Category</label>
        <select asp-for="MaLoai" asp-items="ViewBag.Categories" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="AnhSP">Product Image</label>
        <input type="file" asp-for="AnhSP" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <a class="btn btn-warning" asp-action="Index">Back</a>
</form>


